# Ignore all hidden files and directories
.*

# Virtual environments
venv/
env/

# Python cache and environment-specific files
__pycache__/
python/*/env.py

# Node.js dependencies
node_modules/
react-native/*/android/build
react-native/*/android/app/build

python/SortImagesByObject/output/*
python/SortImagesByObject/input/*
python/Detecting Blurry or Noisy Images/inputs/*
python/Detecting Blurry or Noisy Images/models/*
